.flex-column[style="height: auto;"]
  h1
    |  Merchant 
  - if flash[:errors]
    - flash.each do |name,message|
      p.text-danger
        = message
  div
    table.table.table-info.table-striped

      thead.table-secondary
        td.text-center
          |  Id 
        td.text-center
          |  Name 
        td.text-center
          |  Email 
        td.text-center[colspan="3"]
          |  Action 
      - @merchants.each do |merchant|
        tr
          td.text-center
            = merchant.id
          td.text-center
            = link_to merchant.name, merchant_path(merchant)
          td.text-center
            = merchant.email
          td.text-center
            = button_to "Show", merchant_path(merchant), method: :get, class:"btn-success border-0 rounded-pill shadow px-3 py-2"
          td.text-center
            = button_to "Delete", merchant_path(merchant), method: :delete, data: { confirm: "Are you sure" }, class:"btn-danger border-0 rounded-pill shadow px-3 py-2"
